<!DOCTYPE html>
<html>
<head>
  <title>Jquery Sub Pub Pattern</title>
  <meta charset="utf-8">
 <script
  src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
  integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc="
  crossorigin="anonymous">
  </script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js">  
  </script>
</head>
<body>

  <script id="userTemplate" type="text/html">
    <li><%= name %></li>
  </script>

  <script id="ratingsTemplate" type="text/html">
    <li><%= title %> was rated <%= rating %></li>
  </script>

  <div id="container">
    <div class="sampleForm">
      <p>
        <label for="twitter_handle">Twitter handle:</label>
        <input type="text" id="twitter_handle" />
      </p>
      <p>
        <label for="movie_seen">Name a movie you have seen this year</label>
        <input type="text" id="movie_seen" />
      </p>
      <p>
        <label for="movie_rating">Rate the movie you saw:</label>
        <select id="movie_rating">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </p>
      <p>
        <button id="add">Submit Rating</button>
      </p>
    </div>

    <div class="summaryTable">
      <div id="users"><h3>Recent users</h3></div>
      <div id="ratings"><h3>Recent movies rated</h3></div>
    </div>
  </div>
    


<script type="text/javascript" src="./src/jquerypubsub.js"></script>
</body>
</html>